<section class="certifications">
    <ul>
        <li>
            <a href="https://u.magento.com/certification/directory/dev/{{ site.magento_directory_id }}">
                <img src="{{ "/assets/images/dave-herbert-magento-certified-developer-plus.png" | absolute_url }}" alt="Magento Certified Developer Plus | Dave Herbert" title="Magento Certified Developer Plus | Dave Herbert" />
            </a>
        </li>
        <li>
            <a href="https://www.zend.com/en/yellow-pages/{{ site.zend_directory_id }}">
                <img src="{{ "/assets/images/dave-herbert-zend-certified-php-engineer.jpg" | absolute_url }}" alt="Zend Certified PHP Engineer | Dave Herbert" title="Zend Certified PHP Engineer | Dave Herbert" />
            </a>
        </li>
    </ul>
</section>
