<section class="social">
    <ul>
        <li>
            <a href="https://github.com/{{ site.github_username }}">
                <i class="fab fa-github"></i>
            </a>
        </li>
        <li>
            <a href="skype:{{ site.skype_username }}?chat">
                <i class="fab fa-skype"></i>
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </li>
    </ul>
</section>
