.cta {
    margin: 4rem 0 2rem;
    h3 {
        font-size: 1.35em;
    }
    a {
        color: #ffffff;
        background-color: #ff6600;
        display: inline-block;
        font-size: 1.6rem;
        line-height: 2.5rem;
        text-decoration: none;
        padding: 0.2rem 1rem;
        margin: 1rem 0;
        border-radius: 5px;
        &:hover {
            background-color: darken(#ff6600, 8);
        }
    }
}
