.cta {
    margin: 4rem 0 2rem;
    h3 {
        font-size: 1.35em;
    }
    a {
        color: #fff;
        background-color: #000;
        display: inline-block;
        font-size: 1.6rem;
        line-height: 2.5rem;
        text-decoration: none;
        padding: 0.2rem 1rem;
        margin: 1rem 0;
    }
}
