header {
    background-color: black;
    height: 86px;
    margin-bottom: 3rem;
    h1 {
        color: white;
        margin: 0;
        padding: 25px 20px;
        float: left;
        font-weight: 100;
    }
    .cta {
        float: right;
        margin: 0;
        a {
            margin: 20px;
        }
    }
}
